:root {
    --text-color: #ced4da;
    --bg-light: #343a40;
    --bg-dark: black;
    --light-text: #f8f9fa;
    --light-darker1: #adb5bd;
    --active: #495057;
    --button: #005f73;
}

header {
    background-color: transparent;
    color: var(--light-text);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.container {
    max-width: 140rem;
    padding: 1.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-brand a {
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--light-text);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-brand img {
    height: 40px;
    margin-right: 10px;
    margin-bottom: -5px;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: var(--light-text);
    font-weight: 100;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

nav a:hover,
nav a:focus {
    color: var(--bg-dark);
    background-color: var(--light-text);
}

nav a.active {
    color: var(--bg-dark);
    background-color: var(--light-text);
    border: 1px solid var(--bg-light);
}

hr {
    border: 0;
    height: 0.25px;
    background-color: var(--bg-light);
    margin: 1rem 0;
}

.register {
    background-color: var(--light-text);
    color: var(--bg-dark);
    font-weight: 500;
}

.register:hover {
    color: var(--bg-light);
    background-color: var(--light-darker1);
}

.login {
    color: var(--light-text);
    border: 0.25px solid var(--light-text);
    font-weight: 500;
}

.login:hover {
    background-color: var(--active);
    color: var(--light-text);
}
